<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Vibrant Color Finder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
      const app = angular.module('myApp', []);
      const extractRawBase64fromSourceString = (base64String) => base64String.split('base64,')[1];
      app.filter('extractBase64', () => extractRawBase64fromSourceString);
      app.directive('fileread', [function () {
        return {
          scope: {
            fileread: '='
          },
          link: (scope, element, attributes) => {
            element.bind('change', (changeEvent) => {
              const reader = new FileReader();
              reader.onload = (loadEvent) => {
                scope.$apply(() => {
                  scope.fileread = loadEvent.target.result;
                });
              };
              reader.readAsDataURL(changeEvent.target.files[0]);
            });
          }
        };
      }]);

      app.controller('MainController', ['$scope', '$http', '$location', ($scope, $http, $location) => {
        $scope.result = [];
        $scope.base64 = '';
        $scope.backgroundColor = '#ffffff';
        $scope.apiBaseURL = 'https://2c4ndw1rrd.execute-api.eu-central-1.amazonaws.com/prod';
        $scope.setBackgroundColor = (color) => {
          $scope.backgroundColor = color
        };
        $scope.resetBackgroundColor = () => {
          $scope.backgroundColor = '#ffffff';
        };
        $scope.analyze = () => {
          $http.post(`${$scope.apiBaseURL}/vibrantcolor`, {
            base64: extractRawBase64fromSourceString($scope.base64)
          })
            .then((data, status) => {
              $scope.result = data.data.colors;
              console.log(data);
            }, (data, status) => {
              console.log(data);
              $scope.error = data;
            });
        };
      }])
      ;
    </script>
</head>
<body>
<div ng-app="myApp" ng-controller="MainController">
    <div class="container-fluid" style="padding-top: 50px;">
        <div class="row">
            <div class="col-6">
                <div ng-if="base64 == ''">
                    Select a .jpg file and hit analyze. It might take a few seconds, so please be patient.
                    <br>
                    You can also use the API directly, use browser inspector to see how the call looks like
                    <br>
                    Caveats: Works only for JPG and has no average color
                </div>
                <div ng-style="{'background': backgroundColor}">
                    <img ng-if="base64 != ''" width="100%" ng-style="{'padding': '30px'}" ng-src="{{base64}}"/>
                </div>
                <input ng-style="{'margin-top': '20px'}" type="file" fileread="base64" required>
                <button ng-style="{'margin-top': '20px'}" ng-if="base64 != ''" type="button" class="btn btn-success"
                        ng-click="analyze()">Analyze
                </button>
                <a class="github-button" href="https://github.com/markusz/vibrant-colors-service/subscription"
                   aria-label="Watch markusz/vibrant-colors-service on GitHub">Github</a>
            </div>
            <div class="col-6">
                <table class="table table table-bordered table-hover" style="font-size: small;">
                    <tbody>
                    <tr ng-mouseout="resetBackgroundColor()" ng-mouseover="setBackgroundColor(value.hex)" ng-repeat="(key, value) in result">
                        <td>
                            <b>{{key}}</b>
                        </td>
                        <td>
                            <div>RGB: {{value.rgb}}</div>
                            <div>HEX: {{value.hex}}</div>
                            <div>HSL: {{value.hsl}}</div>
                        </td>
                        <td  ng-style="{'background': value.hex}">
                            <div style="width:100px; height:50px"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
