<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Vibrant Color Finder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
      const app = angular.module('myApp', []);
      app.config(function ($locationProvider) {
        $locationProvider.html5Mode({
          enabled: true,
          requireBase: false
        });
      });

      const extractRawBase64fromSourceString = (base64String) => base64String.split('base64,')[1];
      app.filter('extractBase64', () => extractRawBase64fromSourceString);
      app.directive('fileread', [function () {
        return {
          scope: {
            fileread: '='
          },
          link: (scope, element, attributes) => {
            element.bind('change', (changeEvent) => {
              const reader = new FileReader();
              reader.onload = (loadEvent) => {
                scope.$apply(() => {
                  scope.fileread = loadEvent.target.result;
                });
              };
              reader.readAsDataURL(changeEvent.target.files[0]);
            });
          }
        };
      }]);

      app.controller('MainController', ['$scope', '$http', '$location', ($scope, $http, $location) => {
        $scope.result = [];
        $scope.base64 = '';
        $scope.apiBaseURL = 'https://2c4ndw1rrd.execute-api.eu-central-1.amazonaws.com/prod';
        $scope.analyze = () => {
          $http.post(`${$scope.apiBaseURL}/vibrantcolor`, {
            base64: extractRawBase64fromSourceString($scope.base64)
          })
            .then((data, status) => {
              $scope.result = data.data.colors;
              console.log(data);
            }, (data, status) => {
              console.log(data);
              $scope.error = data;
            });
        };
      }]);
    </script>
</head>
<body>
<div ng-app="myApp" ng-controller="MainController">
    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-6">
                <img ng-if="base64 != ''" width="80%" ng-src="{{base64}}"/>
                <input type="file" fileread="base64" required>
                <button ng-if="base64 != ''" type="button" class="btn btn-success"
                        ng-click="analyze()">Analyze
                </button>
            </div>
            <div class="col-6">
                <table class="table table table-bordered table-hover" style="font-size: small;">
                    <tbody>
                    <tr ng-repeat="(key, value) in result">
                        <td>
                            <b>{{key}}</b>
                        </td>
                        <td>
                            <div>RGB: {{value.rgb}}</div>
                            <div>HEX: {{value.hex}}</div>
                            <div>HSL: {{value.hsl}}</div>
                        </td>
                        <td ng-style="{'background': value.hex}">
                            <div style="width:100px; height:50px"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
